@import "compass";
@import "bourbon/bourbon";

// base colors
$offblack: #010101;
$black: #070707;
$dark: #101214;
$lowmid: #333537;
$mid: #444648;
$midmid: #99A1A3;
$midmidhigh: #CCCED1;
$midhigh: #DDDFE2;
$high: #EEF1F3;
$white: #FEFEFE;
$red: #D21;
$blue: #57D;
$green: #5D7;
$yellow: #EE7;

// semantics
$link_hover: $red;
$button_color: $midhigh;
$title_shadow: #666;

$contentWidth: 960px;

@mixin rounded {
  border-radius: 4px 4px;
}

@mixin rounded-face($color, $mag: 0.1, $offset: 50%) {
  background: $color;
  @include background-image(linear-gradient(top, rgba(white, $mag), rgba(white, 0.0) $offset, rgba(black, 0.0) (100% - $offset), rgba(black, $mag)));
}

@mixin raised-box($highalpha: 0.3, $lowalpha: 0.3) {
  box-shadow: 0 -1px 0px rgba(0, 0, 0, $lowalpha) inset, 0 1px 0px rgba(255, 255, 255, $highalpha) inset, 1px 1px 1px rgba(0,0,0, $lowalpha);
}

@mixin inset-text($color, $highalpha: 0.3, $lowalpha: 0.3) {
  text-shadow: 0 -1px 0px rgba(0,0,0, $lowalpha), 0 1px 0px rgba(white, $highalpha);
  color: $color;
}

@mixin raised-text($color) {
  $alpha: 0.6;
  $factor: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, $alpha);
  color: $color;
}

@mixin inset-box($highalpha: 0.3, $lowalpha: 0.3) {
  box-shadow: 0 -1px 0px rgba(0, 0, 0, $lowalpha), 0 1px 0px rgba(255, 255, 255, $highalpha);
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

@mixin simple_base($base-color, $grayscale: false) {
  $color:         hsl(0, 0, 100%);
  $border:        adjust-color($base-color, $saturation:  9%,  $lightness: -14%);
  $inset-shadow:  adjust-color($base-color, $saturation: -8%,  $lightness:  15%);
  $stop-gradient: adjust-color($base-color, $saturation:  9%,  $lightness: -11%);
  $text-shadow:   adjust-color($base-color, $saturation:  15%, $lightness: -18%);

  @if lightness($base-color) > 70% {
    $color:       hsl(0, 0, 20%);
    $text-shadow: adjust-color($base-color, $saturation: 10%, $lightness: 4%);
  }

  @if $grayscale == true {
    $border:        grayscale($border);
    $inset-shadow:  grayscale($inset-shadow);
    $stop-gradient: grayscale($stop-gradient);
    $text-shadow:   grayscale($text-shadow);
  }

  border: 1px solid $border;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 $inset-shadow;
  color: $color;
  display: inline-block;
  @include linear-gradient ($base-color, $stop-gradient);
  padding: 7px 18px;
  background-clip: padding-box;
}

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
  background: black;
  background-image: url(../img/stars.gif);
  color: #fff;
  font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size:90%;
  margin: 0;
  overflow-y: scroll;
}
a {
	color: $blue;
	text-decoration: underline;
}
a:hover {
	color: $link_hover;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
  text-shadow: 0px 2px 0px $title_shadow;
  border-bottom: 1px solid $mid;
  font-size: 2em;
  margin-top:1em;
  padding: .25em;
}
h2 {
  clear: both;
	color: $red;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 auto;
}
p {
	margin: 0 0 1em 0;
}

/** Layout **/
#container {
  text-align: left;
  margin: 0 auto;
}

#header_wrapper {
  @include rounded-face($dark, .1, 40%);
  border-bottom: 1px solid $mid;
}

#header{
  padding: 0 .5em;
  width: $contentWidth;
  margin: 0 auto;
}

#header a {
  display: inline-block;
  height: 3em;
}

#header img {
  height: 2em;
  margin: .5em 0;
}

#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
  background: $offblack;
  clear: both;
  color: #eee;
  text-align: left;
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 1em;
  border-left: 1px solid $dark;
  border-right: 1px solid $dark;
}
#base_footer {
	clear: both;
	text-align: right;
}

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	padding:10px 0px;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
}
th {
  color: $red;
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
}
table tr:nth-child(even) {
	background: $mid;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/* SQL log */
.cake-sql-log {
	background: #fff;
	color:#000;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#000;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	padding: 0;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #EEE;
}

div .input {
  padding: 0;
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
  padding: 0;
}
label {
	color: $blue;
  font-weight: bold;
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea, pre.submission, .level_description {
  background: lighten($offblack, 1%);
  border: 1px solid $dark;
  color: $midhigh;
  clear: both;
  font-family: monospace;
  padding: 1%;
  width:98%;
  @include rounded;
}

input[type=submit] {
  width: auto;
}

textarea {
  min-height: 20em;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}

input[type=file] {
  padding: 0;
}

/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}

/* Buttons and button links */
.actions ul li a,
.actions a {
  @include button($mid);
}

input[type=submit] {
  @include button(darken($green, 30%));
  font-family: inherit;
}

/** Related **/
.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
  padding: 1em;
  border: 1px solid $mid;
  overflow-x: auto;
}

.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background: rgba(255, 255, 255, 0.7);
	color: $mid;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.cake-stack-trace a {
	text-shadow: none;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
.cake-stack-trace li {
	padding: 10px 5px 0px;
	margin: 0 0 4px 0;
	font-family: monospace;
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	-wekbkit-border-radius: 4px;
	border-radius: 4px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
	display:none;
}

#navmenu {
  text-align: right;
}

div.rating {
  float: right;
}

pre.submission {
  max-height: none;
  overflow-y: scroll;
}

.level_description {
  padding: 1em;
  white-space: pre-line;
}

.codeButton {
  display: block;
}

.tags, .small-tags {
  padding: 0;
  list-style: none;
  -webkit-padding-start: 0;
}

.small-tags {
  min-height: 3em;
}

.tags {
  input, .input {
    margin-bottom: 0;
  }
}

li.tag, .tags .checkbox {
  @include rounded;
  background: $dark;
  border: 1px solid $mid;
  clear: none;
  display: inline-block;
}

li.tag {
  margin: .5em;
  list-style: none;
  box-shadow: 0 2px 3px $offblack;
}

.tags .checkbox {
  padding: 0;
  vertical-align: middle;
  height: 2em;
  margin-bottom: 0;
}

.tags .checkbox input {
  padding: 0 0 0 .5em;
  margin: 0 0 0 .5em;
  line-height: 100%;
  height: 100%;
}

li.tag a, .tags .checkbox label {
  @include inset-text($high);
  text-decoration: none;
  font-weight: normal;
  font-size: 1em;
  line-height: 2em;
  height: 2em;
  padding: 0 .5em;
  margin: 0;
  display: inline-block;
}

li.tag:hover, .tags .checkbox:hover {
  background: $mid;
  border-color: $midhigh;
  a, label {
    @include inset-text($midhigh);
  }
}

.small-tags {
  height: 2.5em;
  text-align: left;
  overflow: hidden;
}

.small-tags li.tag {
  margin-left: 0em;
}

.checkbox>input {
  margin: .25em .5em .25em 0;
}

.upload {
  display: inline-block;
  margin-bottom: .5em;
}

.screenshot {
  border: 1px solid $mid;
  display: block;
  margin: .5em auto;
  clear: both;
}

.level {
  @include rounded;
  @include raised-box;
  @include rounded-face($dark);
  border: 1px solid $dark;
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  margin: .5em;
  clear: both;
  width: 200px;
}

.level > * {
  vertical-align: top;
}

.level a.name {
  @include raised-text($blue);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5em;
  width: 100%;
  border-bottom: 1px solid $dark;
  box-shadow: 0px 1px 0px $mid;
  padding-bottom: .1em;
  margin-bottom: .25em;
}

.level a.name:hover {
  @include raised-text($link_hover);
  text-decoration: underline;
}

.rating {
  font-family: monospace;
  font-weight: bold;
}

.level .rating {
  @include rounded;
  @include inset-box;
  display: block;
  height: 1.25em;
  width: 1.5em;
  padding: 0 .25em;
  float: right;
  background: $dark;
  color: $high;
  text-align: right;
}

.level .author {
  display: block;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
}

.level .author a {
  color: $white;
  text-decoration: none;
}

.level .author a:hover {
  color: $link_hover;
  text-decoration: underline;
}

.level_info {
  @include rounded;
  @include inset-box();
  background: $lowmid;
  padding: 0 .25em;
}

.level .level_info {
  display: block;
}

.level .levelgen, .team_count, .game_type {
  text-shadow: 1px 1px 0px $black;
}

.level .levelgen {
  color: $blue;
}

.team_count {
  color: $green;
}

.level .game_type {
  float: right;
}

.thumbnail {
  @include inset-box(0.1, 0.3);
  @include rounded;
  vertical-align: middle;
}

.thumbnail-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.thumbnail-wrapper {
  margin-top: .5em;
  height: 152px;
  width: 202px;
  vertical-align: middle;
  text-align: center;
}

.download-instructions-container {
  margin-top: 1em;
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding: 1em;
}

.download-instructions {
  @include rounded();
  border: 1px solid $mid;
  margin: .5em auto;
  width: golden-ratio($contentWidth, -1);
  font-size: 2em;
  font-family: monospace;
  color: $blue;
  padding: .25em;
  background: $dark;
  display: block;
}

.rating .rating {
  display: inline-block;
  width: 150px;
}

.rating a, .rating a:hover {
  background: none;
  background-repeat: no-repeat;
  border: none;
  overflow: visible;
  height: 50px;
  width: 30px;
  display: inline-block;
  padding: 0;
  margin-left: 1em;
  text-decoration: none;
}

.rating .upvote, .rating .downvote {
  float: right;
  clear: right;
}

.rating .upvote a {
  background-image: url("../img/up_inactive.png");
}

.rating .downvote a {
  background-image: url("../img/down_inactive.png");
  background-position: left bottom;
  margin-bottom: -100px;
}

.rating .upvote .active {
  background-image: url("../img/up_active.png");
}

.rating .downvote .active {
  background-image: url("../img/down_active.png");
}

.rating .total {
  font-size: 5em;
  font-weight: bold;
  float: left;
  line-height: 100px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.comment {
  @include rounded;
  background: lighten($offblack, 3%);
  border: 1px solid $mid;
  margin-bottom: 1em;
  padding: .5em;
}

.comment-author {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: .5em;
}

.comment-text {
  white-space: pre;
}
